.movie{
    padding: 10px;
    display: table;
    .poster{
        display: table-cell;        
        figure img{
            width: 350px;
            height: 500px;
            -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.6) 0%, transparent 25%, transparent 100%);
        }
    }   
    .desc{        
        display: table-cell;
        vertical-align: top;        
        color: #FFF;        
        .container{
            min-height: 585px;
            border: thin solid lighten(#000, 50);        
            padding: 15px;
            margin: 15px auto;
        }
    }
}