<div *ngIf="movie" class="movie">
  <div class="container">
    <div class="left-col">
      <div class="poster">
        <figure>
          <img [src]="movie.image" [alt]="movie.name" />
        </figure>
      </div>
    </div>
    <div class="right-col">
      <div class="info">
        <div class="info-container">
          <h2 class="movie-name">{{movie.name}}</h2>
          <p class="movie-desc">{{movie.summary}}</p>
          <table class="cast">
            <tr>
              <td class="label">Starring</td>
              <td class="crew">{{movie.starring}}</td>
            </tr>
            <tr>
              <td class="label">Music</td>
              <td class="crew">{{movie.music}}</td>
            </tr>
            <tr>
              <td class="label">Producer</td>
              <td class="crew">{{movie.producer}}</td>
            </tr>
            <tr>
              <td class="label">Director</td>
              <td class="crew">{{movie.director}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>