.movie{
    .left-col{
        width: 30%;
        .poster figure img{                          
            width: 350px;
            height: 500px;
            -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.6) 0%, transparent 25%, transparent 100%);                        
        }   
    }
    .info{                                
        .info-container{
            min-height: 585px;
            border: thin solid lighten(#000, 50);        
            padding: 0 20px;
            margin: 15px auto;
            .movie-name{                
                font-size: 24px;
            }
            .movie-desc{
                font-size: 17px;                                                                             
            }
            .cast{
                tr td{
                    padding: 10px;
                }
            }
        }                
    }
}            
@media screen and (max-width: 400px) {
    figure {
      margin: 0;
    }
  }