$brand-color:lighten(#000,10%);
header{
    // background-image: -webkit-linear-gradient(top,#222 0,rgba(34,34,34,.85) 100%);
    color: #FFF;
    background-color: lighten($brand-color, 15%);    
    left: 0;
    right: 0;    
    top: 0;
    position: fixed;
    border-bottom: thin solid #FFF;
    ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        .brand{
            font-size: 25px;
        }        
        li {
            float: left;  
            height: 60px;
            line-height: 60px;          
            a {
                display: block;
                color: white;
                text-align: center;
                margin: 0 15px;
                text-decoration: none;
            }                        
            &:hover {
                background-color: #999999;
            }
        }
    }
}
.container{
    padding-top: 65px;
}