header {
  background-color: lighten(#000, 25%);
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  border-bottom: thin solid #fff;
  z-index: 99;
  ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    .brand {
      font-size: 25px;
    }
    li {
      float: left;
      height: 60px;
      line-height: 60px;
      a {
        display: block;
        text-align: center;
        margin: 0 15px;
      }
      &:hover {
        background-color: #999999;
      }
    }
  }
}
footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  margin: 0 !important;
  padding-top: 10px;
  border-top: thin solid rgba(255, 255, 255, 0.5);
  text-align: center;
  img {
    position: absolute;
    width: 36px;
    top: 8px;
  }
  .git-buttons {
    padding: 6px 15px 6px 0;
    float: right;
  }
}
.container {
  padding-top: 65px;
}
.active {
  background-color: #999999;
}
@media screen and (max-width: 400px) {
  footer {
    img {
      left: 15px;
    }
  }
}
