.movies{
    // background: #000;
    // color: #FFF;
    font-size: 18px;
    text-align: center;
    padding: 5px;    
    .block{
        display: inline-block;
        cursor: pointer;
        figure img{
            width: 200px;
            margin: 8px auto;
            transition: all 0.3s ease-in;            
            &:hover {
                transform: scale(1.2);                                 
                // box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);                
            }
        }
    }
}