.movies{    
    font-size: 18px;
    text-align: center;
    padding: 5px;    
    margin-bottom: 25px;
    .block{
        display: inline-block;
        cursor: pointer;
        figure img{
            width: 200px;
            margin: 8px auto;
            transition: all 0.3s ease-in;            
            &:hover {
                transform: scale(1.2);                                             
            }
        }
    }
}