<div class="dashboard">
    <div class="container">
        <div class="left-col">
            <h3>Top Movies</h3>
            <div class="list">
                <div class="list-item" *ngFor="let movie of topMovies">
                    <table>
                        <tr>
                            <td><img class="movie-img" [src]="movie.image" /></td>
                            <td [ngStyle]="{'padding-left':'15px'}">
                                <a [routerLink]="['/details', movie.id]" class="movie-name">{{movie.name}}</a>
                                <p class="movie-desc">{{movie.summary}}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="right-col">
            <h3>Latest Movies</h3>
            <div class="list">
                <div class="list-item" *ngFor="let movie of latestMovies">
                    <table>
                        <tr>
                            <td><img class="movie-img" [src]="movie.image" /></td>
                            <td [ngStyle]="{'padding-left':'15px'}">
                                <a [routerLink]="['/details', movie.id]" class="movie-name">{{movie.name}}</a>
                                <p class="movie-desc">{{movie.summary}}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>