$primary-color:#000;
$text-color:#FFF;
$title-color:#48a3c6;

body {     
    font-family: 'Roboto';
    background: lighten($primary-color,8);    
    color: $text-color;
    a{
        color: $text-color;
        text-decoration: none;
    }
    .loading {
        visibility: visible !important;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);                
    }
}
.container{        
    overflow:hidden;
    .left-col{            
        float:left; 
        margin:10px 20px;
        width:50%;        
    }
    .right-col{             
        overflow:hidden;
        margin:10px;                        
    }
    @media screen and (max-width: 400px) {
        .left-col { 
            float: none;
            margin-right:0;
            margin-left: 0;
            width:auto;                
        }        
    }
}
.movie-name, .label{
    color:$title-color;
}
.movie-desc, .crew{
    color: darken($text-color, 30);
    line-height: 24px;    
}